<div>
  <%# <h3>Email Contact</h3>
  <p><strong>Name:</strong> <%= @email_contact.name %></p>
  <%# <p><strong>Email:</strong> <%= @email_contact.email %></p>
  <%# <p><strong>Message:</strong> <%= @email_contact.message %></p>
</div>